.friendlist{
    @apply
    flex
    flex-col
}
.friendlist li{
    @apply
    flex
    items-center
    gap-[10px]
    relative
    after:w-full
    after:h-[1px]
    after:bg-[#F2F2F2]
    after:absolute
    after:bottom-[0px]
    after:left-[0]
    cursor-pointer
    hover:bg-gradient-to-r
    hover:from-[#D5FBFF]/75
    hover:to-[#48B7FF]/30
    hover:after:bg-[#48B7FF]/35
    py-[10px]
    pl-[10px]
    transition
    duration-[200ms]
    rounded-[5px]
    min-w-[300px]
    w-[100%]
    mb-[10px]

}
.friendlist li img{
    @apply
    rounded-full
    w-[35px]
}
